.category {
    list-style: none;
    padding: 0;
    font-size: 14px;
    margin: 0;
    margin-bottom: 30px;

    &__item {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        transition: background .4s;
        cursor: pointer;

        &:hover{
            //box-shadow: 2px 2px 2px #19bb9b;
            background: rgba(208, 208, 208, 0.1);

        }

        &_bold {
            font-weight: bold;
        }

        &_active {
            background: #19bb9b;
            color: #fff;
            &:hover{
                background: #19bb9b;

            }
        }

    }
    &__icon {

    }
    &__text {

    }
    &__info {
        width: 50px;
        text-align: right;

    }
}
