.add-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;


    &__form {
        margin-bottom: 30px;
        display: inline-block;
    }

    &__input {
        box-sizing: border-box;
        font-size: 16px;
        padding: 10px;
        border-radius: 6px;
        border: 1px solid #8d44ad;
        margin-right: 20px;
        width: 100%;
        outline: none;
        margin-bottom: 15px;
        height: 32px;
        background-color: #ffffff;
    }
    &__label {
        color: #8d44ad;
        margin-bottom: 10px;
        display: block;

    }

    &__button {

    }
}
