<section class="add-item">
    <form name="addTodoForm" ng-submit="addTodo()" class="add-item__form">
        <label class="add-item__label">Todo name</label>
        <input type="text" required name="name" ng-model="newTodo.name" class="add-item__input">
        <!--<input type="text" required name="deadline" ng-model="newTodo.deadline" class="add-item__input" placeholder="10/10">-->
        <label class="add-item__label">Choose category</label>
        <select type="text" required name="category" ng-model="newTodo.category" class="add-item__input">
            <option ng-repeat="item in categories" value="{{item.id}}" ng-bind="item.name"></option>
        </select>
        <button ng-disabled="addTodoForm.$invalid" class="button button_block">Add</button>
    </form>

    <button class="button add-item__button" ui-sref="home">Cancel</button>
</section>
